/* style.css */

:root {
    --color-border: rgb(210, 160, 120);
    --color-bg: white;
    --color-txt: rgb(160, 110, 60);
    --color-aux: rgb(160, 120, 70);
    --color-accent: rgb(210, 180, 140);
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card-grid {
    display: grid;
    grid-template-columns: repeat(6, 10vmin);
    grid-template-rows: repeat(4, 15vmin);
    gap: 5vmin;
}

#card-grid > div {
    border: 0.1vmin solid var(--color-border);
}


/* Card type classes: */

.a {
    background-color: red;
}

.b {
    background-color: rgb(255, 106, 0);
}

.c {
    background-color: orange;
}

.d {
    background-color: yellow;
}

.e {
    background-color: yellowgreen;
}

.f {
    background-color: green;
}

.g {
    background-color: cadetblue;
}

.h {
    background-color: blue;
}

.i {
    background-color: blueviolet;
}

.j {
    background-color: purple;
}

.k {
    background-color: indigo;
}

.l {
    background-color: black;
}

/* Card visibility classes: */

.not-vis {
    background-color: antiquewhite;
}

